button, div, form, input {
	margin: 7px;
}

img {
	max-width: 250px;
	max-height: 250px;
}

label {
    color: #fff;
}

.btn-default {
    color: #fff;
    font-size: medium;
}

body {
    font-family: 'Cormorant', Garamond;
    background-color: no-repeat;
    background-size: cover;
}

.holder {
    float: left;
}

.jumbotron {
    text-align: center;
}


